[Desktop Entry]
Name=Castawesome
Comment=Livestreaming Application
Exec=castawesome
Terminal=false
Type=Application
StartupNotify=true
Keywords=castawesome;livestream;twitch;
Categories=Gnome;Internet;
Icon=castawesome
GenericName=
